
<!-- <app-like></app-like> -->


<h2>inside Like</h2>

<link href = "http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel = "stylesheet">


<app-like 
    [likesCount] ="tweet.likesCount"
    [isActive] ="tweet.isLiked"
>

</app-like>


<!-- <app-panel >
    <ng-container class="heading">Heading</ng-container>
    <div class="body">
        <h2>Body</h2>
        <p>
            my 
        </p>
    </div>
</app-panel> -->

<!-- <app-favorite></app-favorite> -->

<!-- <h1>Angular</h1> -->
<!-- <h2>hello</h2> -->
<!-- <app-course></app-course> -->
<!-- <app-authors></app-authors> -->
<!-- <app-books></app-books> -->
<!-- <courses></courses> -->

<!-- <input type="text" [(ngModel)]="title">
<br>
{{title | titlecase}} -->


